.quotes__title {
  color: #fecaa3;
  font-size: calc(14px + 4 * ((100vw - 1440px) / (1920 - 1440)));
  text-transform: uppercase;
  margin: 0 0 2.92358803986711vw 0;
}

@media screen and (min-width: 1920px) {
  .quotes__title {
    font-size: 18px;
    margin: 0 0 56px 0;
  }
}
@media screen and (max-width: 1439px) {
  .quotes__title {
    font-size: calc(13px + 1 * ((100vw - 1024px) / (1440 - 1024)));
  }
}
@media screen and (max-width: 767px) {
  .quotes__title {
    text-align: center;
    font-size: 40px;
  }
}
