.place__title {
  font-weight: bold;
  font-size: calc(38px + 8 * ((100vw - 1440px) / (1920 - 1440)));
  margin: 0;
}

@media screen and (min-width: 1920px) {
    .place__title {
        font-size: 46px;
    }
}

@media screen and (max-width: 1440px) {
  .place__title {
    
  }
}
