.place__title {
  font-weight: bold;
  font-size: calc(38px + 8 * ((100vw - 1440px) / (1920 - 1440)));
  margin: 0;
}

@media screen and (min-width: 1920px) {
  .place__title {
    font-size: 46px;
  }
}

@media screen and (max-width: 1439px) {
  .place__title {
    font-size: calc(26px + 12 * ((100vw - 1024px) / (1440 - 1024)));
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 22px;
    margin: 0 0 5.338541666666667vw 0;
  }
}
