.header__img {
  width: 27.77408637873754vw;
  height: 27.77408637873754vw;
  position: absolute;
  top: 11.69435215946844vw;
  right: 12.29235880398671vw;
}
@media screen and (min-width: 1920px) {
  .header__img {
    width: 533px;
    height: 533px;
    top: 224px;
    right: 236px;
  }
}
@media screen and (max-width: 1024px) {
  .header__img {
    right: 5.315614617940199vw;
  }
}
