.places {
  display: grid;
  grid-template: repeat(3, calc(125.0498338870432vw / 3)) / 50% 50%;
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  grid-template-areas:
    "img_forest article_forest"
    "article_mountain img_mountain"
    "img_black-sea article_black-sea";
}
@media screen and (min-width: 1920px) {
  .places {
    grid-template: repeat(3, calc(2400 / 3)) / 50% 50%;
  }
}
