.header {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 4.053156146179402vw 5.315614617940199vw 19.33554817275748vw;
}
@media screen and (min-width: 1920px) {
  .header {
    padding: 77px 102px 371px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 4.0625vw 3.125vw;
    width: 100%;
  }
}
