.place__text {
  width: 27.9734219269103vw;
  color: black;
  font-weight: 490;
}
@media screen and (min-width: 1920px) {
  .place__text {
    width: 537px;
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    width: 40vw;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    width: 100%;
  }
}
