.footer__title {
  font-size: calc(40px + 10 * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: bold;
  margin: 0;
}

@media screen and (min-width: 1920px) {
  .footer__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 1440px) {
}
