.header__link {
  margin: 0 2.790697674418605vw 0 0;
  color: black;
  text-decoration: none;
  transition: opacyti 0.2 linear;
}

.header__link:hover {
  opacity: 45%;
}

.header__link:last-child {
  margin: 0;
}
@media screen and (min-width: 1920px) {
  .header__link {
    margin: 0 53px 0 0;
  }
}
