.header__button {
  margin: 0;
  color: black;
  text-decoration: none;
  font-size: calc(16px + 4 * ((100vw - 1440px) / (1920 - 1440)));
  transition: opacity 0.2s linear;
}

.header__button:hover {
  opacity: 45%;
}

@media screen and (min-width: 1920px) {
  .header__button {
    font-size: 20px;
  }
}

@media screen and (max-width: 1439px) {
  .header__button {
    font-size: calc(14px + 2 * ((100vw - 1024px) / (1440 - 1024)));
  }
}

@media screen and (max-width: 1023px) {
  .header__button {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header__button {
    font-size: 3.75vw;
  }
}
