.header__subtitle {
  width: 40vw;
  margin: 0;
  font-size: calc(36px + 2 * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: bold;
}
@media screen and (min-width: 1920px) {
  .header__subtitle {
    font-size: 38px;
    width: 602px;
  }
}

@media screen and (max-width: 1439px) {
  .header__subtitle {
    font-size: calc(26px + 10 * ((100vw - 1024px) / (1440 - 1024)));
  }
}

@media screen and (max-width: 1023px) {
  .header__subtitle {
    font-size: 28px;
    width: 61vw;
  }
}
