.quotes__quote {
  padding: 0;
  margin: 0;
  font-size: calc(16px + 4 * ((100vw - 1440px) / (1920 - 1440px)));
  line-height: 1.4;
}

@media screen and (min-width: 1920px) {
  .quotes__quote {
    font-size: 20px;
  }
}
@media screen and (max-width: 1440px) {
}
