.quotes__subtitle {
  font-size: calc(43px + 3 * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: bold;
  margin: 0 0 9.700996677740864vw 0;
  width: 35.89700996677741vw;
}

@media screen and (min-width: 1920px) {
  .quotes__subtitle {
    font-size: 46px;
    margin: 0 0 186px 0;
    width: 689px;
  }
}
@media screen and (max-width: 1440px) {
  .quotes__subtitle {
    font-size: calc(30px + 13 * ((100vw - 1024) / (1440 - 1024)));
  }
}
