.quotes__subtitle {
  font-size: 43px;
  font-weight: bold;
  margin: 0;
  width: 35.89700996677741vw;
}

@media screen and (max-width: 1920px) {
    .quotes__subtitle {
        font-size: 46px;
    }
}
