.quotes__subtitle {
  font-size: calc(43px + 3 * ((100vw - 1440px) / (1920 - 1440)));
  font-weight: bold;
  margin: 0 0 9.700996677740864vw 0;
  width: 35.89700996677741vw;
}

@media screen and (min-width: 1920px) {
  .quotes__subtitle {
    font-size: 46px;
    margin: 0 0 186px 0;
    width: 689px;
  }
}
@media screen and (max-width: 1439px) {
  .quotes__subtitle {
    font-size: calc(30px + 13 * ((100vw - 1024px) / (1440 - 1024)));
  }
}
@media screen and (max-width: 1023px) {
  .quotes__subtitle {
    width: 54.89700996677741vw;
    font-size: 35px;
  }
}
@media screen and (max-width: 767px) {
  .quotes__subtitle {
    width: 100%;
    text-align: left;
    /* font-size: calc(25px + 10 * ((100vw - 320px) / (768 - 320))); */
    font-size: 7.8125vw;
  }
}
