.quotes {
  width: 100%;
  padding: 10.7641196013289vw 6.976744186046512vw 9.966777408637874vw
    5.396402398401066vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1920px) {
  .quotes {
    padding: 206px 133px 191px 103px;
  }
}
@media screen and (max-width: 1023px) {
  .quotes {
    padding: 10.7641196013289vw 1.9767441860465116vw 9.966777408637874vw
      2.396402398401066vw;
  }
}
