.footer {
  background-color: #fecda7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48.43853820598007vw;
}

@media screen and (min-width: 1920px) {
  .footer {
    height: 930px;
  }
}