.header__title {    
  width: 8.242524916943522vw;
  margin: 0;
  padding: 20.79734219269103vw 0 2.92358803986711vw;
  text-transform: uppercase;
  font-size: calc(14px + 4 * ((100vw - 1440px) / (1920 - 1440)));
  color: #fecda7;
}

@media screen and (min-width: 1920px) {
    .header__title{
      width: 139px;
      padding: 399px 0 56px;
      font-size: 18px;
    }
}


@media screen and (max-width: 1440px) {
  .header__title {
    
  }
}