.quotes__table {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 18.47176079734219vw 18.33887043189369vw 18.40531561461794vw 17.3421926910299vw;
  width: 100%;
  column-gap: 5.049833887043189vw;
  margin: 0;
}
